@model IEnumerable<TechStock.Models.Category>

@{
    ViewData["Title"] = "Kategorier";
}

<h2>Kategorier</h2>

<p class="mb-4 mt-4">
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Lägg till kategori</a>
</p>

<!-- Tabell med alla kategorier -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loopa igenom alla kategorier och skriv ut dess data -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i> Redigera
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                            <i class="bi bi-info-circle"></i> Detaljer
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Radera
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
